$cd-bars: #15DEA5;
$cd-bars-inv: #0E397F;
$size: 3vh;
$num-bars: 5;
$anim-duration: 1000ms;
$anim-delay: calc($anim-duration / $num-bars);
$anim-fill-mode: backwards;
$anim-iteration: infinite;
$animation-timing: ease-in-out;
$anim-direction: alternate;

@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

span {
    color: #3f87a6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

body {
    //background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    background: #f1f1f1;
}

.container {
    position: relative;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.load {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        background-color: $cd-bars;
        height: 100%;
        width: $size;
        animation: bars $anim-duration $anim-fill-mode $anim-iteration $animation-timing $anim-direction;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
            &--#{$i}-inv {
                animation-delay: $anim-delay * $i + random(100)*15ms;
                animation-direction: forwards;
                background-color: $cd-bars-inv;
                &:hover {
                    animation-play-state: paused;
                }
            }
        }
    }
}

.spin {
    background-color: #15DEA5;
    width: 30vh;
    height: 30vh;
    animation: spin 3s linear infinite paused;
    &:hover {
        animation-play-state: running;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}